{% load thumbnail %}
<div class="row d-flex justify-content-center">
  <div class="col-9">
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <a href="#">{{ post.author.first_name }}</a>,
        {{ post.pub_date|date:"SHORT_DATE_FORMAT" }} {{ post.pub_date|time:"H:i" }}
      </div>
      <a href="{% url 'posts:post_detail' post.id post.slug %}" style='text-decoration: none; color:#101010'>  
        <div class="card-body">
          <h2 class="card-title">
            {{ post.title }}
          </h2>
          <p class="card-text" style='padding-bottom: 25px'>
            {{ post.description }}
          </p>
          {% thumbnail post.image "900x500"  upscale=True padding=True as im %}
            <img class="card-img-top" src="{{ im.url }}" alt="Card image cap">
          {% endthumbnail %} 
        </div>
      </a>
      <div class="card-footer">
            <div class="d-flex justify-content-end">
                <small class="d-flex justify-content-end" >
                <a class="btn btn-sm " style="text-decoration: none; color:red; background-color: white; margin-right: 5px;" href="{% url 'posts:post_dislike' post.id post.slug %}">
                    <i class="fa fa-arrow-down fa-lg"></i> 
                    -{{ post.postdislikes.count}} 
                </a>
                </small>
                <small class="d-flex justify-content-end">
                <a class="btn btn-sm " style="text-decoration: none; color:green; background-color: white;" href="{% url 'posts:post_like' post.id post.slug %}">
                    <spawn >+{{ post.postlikes.count}} </spawn>
                    <i class="fa fa-arrow-up fa-lg"></i> 
                </a>
                </small>
            </div>        
      </div>  
    </div>  
  </div>
</div>