{% extends 'base.html' %}
{% block content %}
  {% load thumbnail %}
  <div class="row justify-content-md-center">
    <div class="col-9">
      <div class="card mb-3 shadow-sm">
        <div class="card-header">
          <div class="flex-row" >
              <a href="#">{{ post.author.first_name }}</a>,
              {{ post.pub_date|date:"SHORT_DATE_FORMAT" }} {{ post.pub_date|time:"H:i" }}
              <a href="{% url 'posts:post_edit' post.id post.slug %}"> Редактировать</a>              
          </div>  
        </div>
        <div class="card-body">
          <h2 class="card-title">
            {{ post.title }}
          </h2>
          <p class="card-text">
            <p>{{ post.description }}</p>
            {{ post.text }}
          </p>
          {% thumbnail post.image "960x339" upscale=True padding=True as im %}
            <img class="card-img-top" src="{{ im.url }}" alt="Card image cap">
          {% endthumbnail %} 
        </div>
      </div>  
    </div>
  </div>
{% endblock %}