{% load static %}
{% load user_filters %}

{% if user.is_authenticated %}
  <div class="card mb-3 shadow-sm">
    <div class="card-header">Добавить комментарий:</div>
    <div class="card-body">
      <form method="post" action="{% url 'posts:post_comment' post.id post.slug %}">
        {% csrf_token %}      
        <div class="form-group mb-2">
          {{ form.text|addclass:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>
  </div>
{% endif %}
    <div class="card mb-3 shadow-sm">
     {% for comment in post.comments.all %}

      <div class="card-body">
        <div>
            <div>
              <a href="#">
                {{ comment.author.first_name }}
              </a>
            </div>  
            <div>
              <small class="text-muted">
                {{ comment.created|date:"SHORT_DATE_FORMAT" }}
                {{ comment.created|time:"H:i" }}
              </small>
            </div>
        </div>
        <div class=" mt-1">
          {{ comment.text }}
        </div>
        <div class="d-flex justify-content-start mt-2">
            <small >
              <a class="btn btn-sm " href="{% url  'posts:comment_dislike' post.id post.slug comment.id %}" style="text-decoration: none; color:red; background-color: white; margin-right: 5px;">
                <i class="fa fa-arrow-down fa-lg"></i> 
                  -{{ comment.commentdislikes.count}} 
              </a>
            </small>
            <small>
              <a class="btn btn-sm" href="{% url 'posts:comment_like' post.id post.slug comment.id %}" style="text-decoration: none; color:green; background-color: white;">
                <spawn >+{{ comment.commentlikes.count}}</spawn>
                <i class="fa fa-arrow-up fa-lg"></i> 
              </a>

            </small>
        </div> 
      </div>
     {% endfor %}
    </div>